 #hamburger,  #ch-menu {
  display: none;
  }
  

  ul.meniu {
    li {
      div {
        
        &.imag-icon {
          display: none;
        }
  
    
        &.text-icon {
          display: block;
        }
      }
    }
  }
  
nav.nav-meniu {
  background-color: var(--culoare-background);
  --inaltime-meniu: 40px;
  --latime-buton: 150px;
  height: var(--inaltime-meniu);
  position: sticky;
  top: 0;
  z-index: 1000; /* un z-index mai mare să fie peste alte elemente */
}


nav {
  position: sticky;
  background-color: var(--culoare-background);
  --inaltime-meniu: 40px;
  --latime-buton: 150px;
  height: var(--inaltime-meniu);
 
  top: 0;
  z-index: 10
}

ul.meniu {
  display: flex;
  list-style-type: none;
  padding: 0;

  li {
    /* pentru a fi pe orizontala */
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    border: 1px solid var(--culoare-deschisa);
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    line-height: var(--inaltime-meniu);
    transition: all 1s linear;
    position: relative;

    &:hover {
      background-color: var(--culoare-background);
      
      ul {
        display: block;
        background-color: var(--culoare-deschisa);
        position: relative;
        list-style-type: none;
        left: -1px;
      }

      a, div {
        color: white;
      }

      &::before {
        width: 100%; /* Se extinde spre stânga */
      }
    }

    a, div {
      color: black;
      text-decoration: none;
      transition: all 1s linear;
      display: block;
      height: 100%;
      cursor: pointer;
    }

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 6px;
      background: linear-gradient(to right, var(--culoare-background), var(--culoare-deschisa)); /* Gradient de la stânga la dreapta */
      position: absolute;
      bottom: 0;
      right: 0;
      transition: width 0.5s ease-in-out;
    }
  }

  ul {
    display: none;
    padding: 0;
    animation-name: animatie_submeniu;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
  }
}

@keyframes animatie_submeniu {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(100%);
  }
}
