<footer>  
    
    <div class="text-miscator">
        <p>Acesta este un proiect scolar!</p>
    </div>
    <br />
    
    <a href="resurse/TERMENI%20ȘI%20CONDIȚII.pdf" download="ceva.pdf">Termeni si conditii pdf</a><br />
            <a href="http://www.google.com" target="_blank">Google</a><br />
           
            <a href="mailto:HomeChef@gmail.com">Scrie un mail catre HomeChef@gmail.com</a><br />
            <a href="tel:+40712345678">Telefon: 0712345678</a><br />
            <a href="https://wa.me/07275478747888" target="_blank">WhatsApp</a><br />
            <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica" target="_blank">
                Strada Exemplu 123, București
            </a><br />

            

            <a href="#" title="Inapoi sus" id="link-top">
                <div class="rotire"></div>
                <!-- <span class="tooltip">Mergi în susul paginii</span> -->
                <span id="sageata">&#8593;</span></a>


            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1424.4378529402945!2d26.09856920846576!3d44.43571177573133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1741089075844!5m2!1sro!2sro" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>

            <p>
                <small>
                    Copyright &copy; <time datetime="2025-03-04T10:05:12+03:00">4 martie</time>
                </small>
            </p>
            <p id="banner">Acesta e un proiect scolar<button id="ok_cookies">Accepta cookies</button></p>  
            <p id="absolut">Acesta este un proiect scolar!</p>
        </footer>