.form-check-input {
    background-color: #C7E9C0; 
    border-color: #248d55; 
    cursor: pointer;
}


.form-check-input:checked {
    background-color: #2F9D67; 
    border-color: #2F9D67;
}


.form-check-input:checked::before {
    background-color: #FFFFFF; 
}

/* Schimbare culori în modul dark */
body.dark .form-check-input {
    background-color: #89a1ad;
    border-color: #648396;
}

body.dark .form-check-input:checked {
    background-color: #648396;
    border-color: #648396;
}

body.dark .form-check-input:checked::before {
    background-color: #f0f0f0;
}

/* Culoare la hover */
.form-check-input:hover {
    border-color: #1d703f;
    background-color: #A7CBA8;
}