body {
  background-color: #d6fae2 !important;
  color: #ffffff;
}

.btn {
  border-radius: 0.5rem;
  border-width: 1px;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.btn.btn-primary {
  background-color: #d6fae2;
  border-color: #1d703f;
  color: white;
}
.btn.btn-secondary {
  background-color: #C7E9C0;
  border-color: #1d703f;
  color: black;
}
.btn.btn-success {
  background-color: #008000;
  border-color: #1d703f;
  color: white;
}
.btn.btn-danger {
  background-color: #D9534F;
  border-color: #D43F3A;
  color: white;
}
.btn:hover {
  background-color: rgb(191.2717391304, 247.2282608696, 209.9239130435) !important;
  border-color: rgb(23.7553191489, 91.7446808511, 51.6063829787) !important;
}

label, select, input[type=radio], input[type=checkbox] {
  background-color: #2F9D67;
  border: 1px solid #1d703f;
  color: white;
  padding: 0.4rem;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

label:hover, select:hover, input[type=radio]:hover, input[type=checkbox]:hover {
  background-color: #3eaf79;
  border-color: rgb(23.7553191489, 91.7446808511, 51.6063829787);
}

input[type=radio]:checked, input[type=checkbox]:checked {
  background-color: #3eaf79;
  border-color: #62b77c;
}

input[type=text], textarea, select {
  background-color: #C7E9C0;
  border-color: #1d703f;
  color: black;
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type=text]:focus, textarea:focus, select:focus {
  background-color: white;
  border-color: #62b77c;
}

input[type=range] {
  width: 100%;
  accent-color: #2F9D67;
  margin: 0.5rem 0;
  height: 0.4rem;
  background-color: rgb(49.9787234043, 193.0212765957, 108.5744680851);
  border-radius: 0.5rem;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #3eaf79;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type=range]::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #3eaf79;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type=range]::-webkit-slider-thumb:hover, input[type=range]::-moz-range-thumb:hover {
  background-color: rgb(55.3291139241, 156.1708860759, 107.9810126582);
}

.btn-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}